<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Check Out</title>
    <!-- {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}"> -->
    <link rel="stylesheet" type="text/css" href="static/checkout.css">
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
</head>
<div id="wrapper">
    <header id="bar">
        <img src="/static/images/pngwave.png">
        <ul>
            <li><a href="#" class="header-link">Home</a></li>
            <li><a href="#" class="header-link">Log Out</a></li>
        </ul>
    </header>

    <body>
        <div id="column">
            <h1 class="greeting">Checkout</h1>
            <div id="container">
                <div id="checkout">
                    <div id="check_form">
                        <form action="" method="POST">
                            <!-- {% csrf_token %} -->
                            <table id="form">
                                <tr>
                                    <td>First Name:</td>
                                    <td><input type="text" name=""></td>
                                </tr>
                                <tr>
                                    <td>Last Name:</td>
                                    <td><input type="text" name=""></td>
                                </tr>
                                <tr>
                                    <td>Email:</td>
                                    <td><input type="text" name=""></td>
                                </tr>
                                <tr>
                                    <td>Card Number:</td>
                                    <td><input type="text" name=""></td>
                                </tr>
                                <tr>
                                    <td>Shipping Address:</td>
                                    <td><textarea></textarea></td>
                                </tr>
                                <tr>
                                    <td>Billing Address:</td>
                                    <td><textarea></textarea></td>
                                </tr>
                            </table>
                            <button>Submit Order</button>
                        </form>
                    </div>
                </div>
                <div id="cart">
                    <h2>[user's name]'s Cart</h2>
                    <table id="cart-list">
                        <tr>
                            <td>[item name]</td>
                            <td>[item quantity]</td>
                            <td>$[item total price]</td>
                        </tr>
                        <tr>
                            <td>[item name]</td>
                            <td>[item quantity]</td>
                            <td>$[item total price]</td>
                        </tr>
                    </table>
                    <!-- two rows shown just for previewing design -->
                    <div id="total">
                        <p>Order total: $$$</p>
                    </div>
                </div>
            </div>
            <div id="foot">
                <p>All Rights Reserved.</p>
                <p>
                    <a href="">FAQ</a> &#8226;
                    <a href="">Privacy Policy</a> &#8226;
                    <a href="">Contact Us</a>
                </p>
            </div>
        </div>
    </body>

</div>

</html>