<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Info</title>
    <!-- {% load static %}
    <link rel="stylesheet" href="{% static '/static/product-info.css' %}"> -->
    <link rel="stylesheet" type="text/css" href="static/product-info.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="project_script.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
</head>
<div id="wrapper">
    <header id="bar">
        <img src="/static/images/pngwave.png">
        <ul>
            <li><a href="#" class="header-link">Register</a></li>
            <li id="login"><a href="#" class="header-link">Log In</a></li>
        </ul>
    </header>
    <!-- <header id="bar">
        <img src="images/pngwave.png">
        <ul>
            <li><a href="#" class="header-link">Home</a></li>
            <li><a href="#" class="header-link">View Cart</a></li>
            <li><a href="#" class="header-link">Log Out</a></li>
        </ul>
    </header> -->

<body>
    <div id="log-form">
        <form action="" method="POST">
            <!-- {% csrf_token %} -->
            <div class="log-input"><label>Email:</label> <input type="text" name="email"></div>
            <div class="log-input"><label>Password:</label> <input type="password" name="password"></div>
            <button>Log In</button>
        </form>
    </div>
    <div id="container">
        <!-- push submit button to post a review -->
        <div id="product-info">
            <img src="{{ this_product.img.url }}" alt='product-pic'>
            <div id="product-desc">
                <h2>{{ this_product.name }}</h2>
                <p>{{ this_product.description }}</p>
            </div>
        </div>

        <form id="review" action="" method=POST>
            <select name="review_val">
                <option value=1>&#11088 </option>
                <option value=2>&#11088 &#11088</option>
                <option value=3>&#11088 &#11088 &#11088</option>
                <option value=4>&#11088 &#11088 &#11088 &#11088</option>
                <option value=5>&#11088 &#11088 &#11088 &#11088 &#11088</option>
            </select>
            <input id="review-detail" type="text" name="review">
            {% if user_id in request.session %}
            <button>Submit Review</button> 
            {% else %}
            <p style="color:red">You must be logged in to leave a review!</p>
            {% endif %}
        </form>

        <ul>
        {% for review in all_reviews %}
            <li class="each-review">
                <p>{{ review.user.first_name }} {{ review.user.last_name }}: {{ review.description }}</p>
                {% if review.value == 1 %}
                <p>&#11088</p>
                {% elif review.value == 2 %}
                <p>&#11088 &#11088</p>
                {% elif review.value == 3 %}
                <p>&#11088 &#11088 &#11088</p>
                {% elif review.value == 4 %}
                <p>&#11088 &#11088 &#11088 &#11088</p>
                {% else %}
                <p>&#11088 &#11088 &#11088 &#11088 &#11088</p>
                {% endif %}
            </li>
        {% empty %}
        <p>No review for this product yet!</p>
        {% endfor %}
        </ul>
    </div>
</div>
</body>
</html>
