* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    width: 970px;
    margin: auto;
    padding: 50px;
}

h1 {
    padding-bottom: 30px;
}

table {
    width: 100%;
    text-align: left;
    border: 2px solid black;
    border-collapse: collapse;
    margin-bottom: 50px;
}

    th {
        background-color: grey;
        padding: 6px;
        border: 2px solid black;
    }

    td, tr {
        padding: 6px;
        border: 2px solid black;
    }