<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books & Authors</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'indexstyle.css' %}">
</head>
<body>
    <div id="container">
    <div id="form">
        <h1>Add A Book</h1>
        <form action="/newBook" method="POST">
            {% csrf_token %}
            <div id="topform"><label id="title">Title</label> <input type="text" name="title"></div>
            <label>Description</label> <input type="textarea" name="desc">
            <button>Add</button>
        </form>
    </div>

    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Action</th>
        </tr>
        {% for book in allBooks %}
        <tr>
            <td>{{ book.id }}</td>
            <td>{{ book.title }}</td>
            <td><a href="/books/{{ book.id }}">View</a></td>
        </tr>
        {% endfor %}
    </table>
    </div>
    
</body>
</html>