<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users Data</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
<div id="container">
    <div id="top">
        <div class="upper">
            <h1>Add A Dojo</h1>
            <form action="/addDojo" method="POST">
                {% csrf_token %}
                <label>Name</label> <input type="text" name="name">
                <label>City</label> <input type="text" name="city">
                <label>State</label> <input type="text" name="state">
                <button>Add</button>
            </form>
        </div>
        <div class="upper">
            <h1>Add A Ninja</h1>
            <form action="/addNinja" method="POST">
                {% csrf_token %}
                <label>First Name</label> <input type="text" name="fname">
                <label>Last Name</label> <input type="text" name="lname">
                <label>Dojo</label>
                <select name="dojo-id"> {% for dojo in DojoList %}
                    <option value={{ dojo.id }}>{{ dojo.name }}</option>
                    {% endfor %}
                </select>
                <button>Add</button>
            </form>
        </div>
    </div>

    <div id="bottom">
        <h1>All The Dojos</h1>
        <ul>{% for dojos in DojoList %}
            <h4>Ninjas at {{ dojos.name }}</h4>
            {% for ninja in dojos.ninja_dojo.all %}
            <li>{{ ninja.first_name }} {{ ninja.last_name }}</li>
            {% endfor %}
            {% endfor %}
        </ul>
    </div>
    </div>
</body>