* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#container {
    width: 900px;
    margin: 0 auto;
    display: flex;
    padding-top: 70px;
}

h1 {
    margin-bottom: 20px;
}

#form {
    width: 300px;
    display: block;
    margin-right: 320px;
}

    .fields {
        margin: 5px 0 15px 0;
    }

        .fields input {
            position: absolute;
            left: 330px;
        }

    #topform {
        margin: 5px 0 15px 0;
    }

    label {
        margin-right: 20px;
    }

    #title {
        margin-right: 75px;
    }

    button {
        padding: 0px 8px;
        margin: 15px 0 0 113px;
    }

table {
    width: 280px;
    border: 2px solid black;
    border-collapse: collapse;
}
    th, td {
        border: 1px solid black;
        padding: 5px 0 3px 5px;
        
    }

    th {
        text-align: left;
        background-color: darkgrey;
    }